body {
  margin: 0;
  overflow: hidden;
  background-color: white;
}
/*
.cuadrado {
  position: fixed;
  width: 50vw;
  height: 50vh;
  box-sizing: border-box;
  border: 10px solid;
}
*/
/*
.rectangulo-central {
  position: fixed;
  width: 50vw;
  height: 50vh;
  box-sizing: border-box;
  border: 10px solid #ffcc00;
}
*/
/*
#cuadrado1 {
  width: 5vw;
  height: 50vw;
  top: 0;
  left: 0;
  border-color: #ff9999;
}
*/
/*
#cuadrado2 {
  width: 100vw;
  height: 5vw;
  top: 0;
  right: 0;
  border-color: #99ff99;
}
*/
/*
#cuadrado3 {
  width: 100vw;
  height: 5vw;
  bottom: 0;
  left: 0;
  border-color: #9999ff;
}
*/
/*
#cuadrado4 {
  width: 6vw;
  height: 100vw;
  bottom: 0;
  right: 0;
  background-color: black;
  border-color: black;
}
*/
#Line-Gray {
  position: absolute;
  width: 7vw;
  height: 51.9vw;
  bottom: 0vh;
  right: 0vh;
}
/*
#rectangulo-rojo {
  top: 25vh;
  left: 25vw;
  border-color: #ffcc00;
}
*/
#tarjeta-metrolinea {
    position: absolute;
    width: 50vw;
    height: 25vw;
    bottom: 25vh;
    right: 50vh;
}

#metrolinea-logo {
    position: absolute;
    width: 10vw;
    height: 2.5vw;
    bottom: 92vh;
    right: 170vh;
}

#comprar-tarjeta {
    position: absolute;
    width: 14vw;
    height: 2.5vw;
    bottom: 92vh;
    right: 65vh;
}

#ver-saldo {
    position: absolute;
    width: 8vw;
    height: 2.7vw;
    bottom: 92vh;
    right: 42vh;
}

#buscador {
    position: absolute;
    width: 2vw;
    height: 2vw;
    bottom: 92.5vh;
    right: 30vh;
}

#carrito {
    position: absolute;
    width: 2.5vw;
    height: 2.5vw;
    bottom: 92vh;
    right: 20vh;
}

#saldo-texto {
    position: absolute;
    width: 40vw;
    height: auto;
    bottom: 5vw;
    right: 55vw;
}

#saldo-plata {
    position: absolute;
    width: 12vw;
    bottom: 1vw;
    left: 5vw;
}

.rectangulo-redondeado {
    position: fixed;
    width: 10vw;
    height: 15vh;
    box-sizing: border-box;
    border: 5px solid green;
    background-color: greenyellow;
    border-radius: 35px; /* Ajusta el valor para cambiar el radio de los bordes */
    top: 82vh;
    left: 80vw;
}

#line {
  position: absolute;
  width: 10vw;
  right: 35.5vw;
  top: 3.8vw;
}

#flecha {
  position: absolute;
  width: 5vw;
  left: 90vw;
  top: 5vw;
}